.nav-bar{
    width: 5%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}
.logo{
    height: 34px;
}
.nav-opt{
    height: 17px;
    cursor: pointer;
}
.nav-help{
    height: 17px;
    margin-top: 68px;
    cursor: pointer;
}
.nav-profile{
    height: 48px;
}
.content{
    width: 95%;
    background-color: #e5eaee;
    height: 100vh;
}
.header h5{
    color: #193855;
}
.header img{
    height: 22px;
}
.home-left{
    background-color: #fff;
    width: 40%;
    height: 83vh;
    border-radius: 28px;
}
.home-right{
    /* width: 60%; */
    height: 83vh;
}
.line{
    height: 52vh;
    width: 2px;
    background-color: black;
}
.home-button{
    background-color: #193855;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    border: none;
}
.horz-line{
    width: 93%;
    height: 1px;
    background-color: black;
}
.circle-1{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #193855;
    position: absolute;
    top: 154px;
    left: 157px;
}
.circle-2{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #193855;
    position: absolute;
    top: 337px;
    left: 157px;
}
.circle-3{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #193855;
    position: absolute;
    top: 489px;
    left: 157px;
}
.home-right-1{
    width: 322px;
    height: 40vh;
    background-color: #fff;
    border-radius: 20px;
}
.home-right-1 p{
    opacity: 70%;
}
.home-right-2{
    width: 644px;
    height: 40vh;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 19px;
}
.home-right-2 p{
    opacity: 70%;
}
.partner-sec-1{
    height: 20vh;
    width: 100%;
    background-color: white;
    margin-top: 13px;
    border-radius: 20px;
}
.partner-sec-1 h5{
    color: #515151;
}
.partner-sec-1 p{
    color: #ACACBB;
}
.partner-sec-1-selected-a{
    color: #193855;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 4px solid #193855;
    padding-bottom: 6px;
}
.partner-sec-1-a{
    color: #ACACBB;
    text-decoration: none;
}
.partner-img{
    height: 81px;
    border-radius: 20px;
    margin-top: 23px;
}
.partner-circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #1BCC18;
    position: absolute;
    top: 149px;
    left: 237px;
    border: 1px solid white;
}
.partner-status-bar{
    padding-top: 34px;
    margin-left: 75px;
    width: 411px;
}
.partner-status-line{
    width: 100%;
    height: 10px;
    border-radius: 20px;
    background-color: #F1F5F8;
}
.partner-status-line2{
    width: 50%;
    height: 10px;
    border-radius: 20px;
    background-color: #193855;
}
.partner-sec-2{
    height: 45vh;
    width: 30%;
    background-color: white;
    margin-top: 13px;
    border-radius: 20px;
}
.partner-sec-2-line{
    height: 10px;
    width: 120px;
    background-color: #193855;
}
.partner-sec-2-line2{
    height: 10px;
    width: 120px;
    background-color: #ACACBB;
}
.partner-pie{
    height: 200px;
    margin-top: 19px;
    margin-left: 67px;
}
.partner-sec-3{
    height: 45vh;
    width: 50%;
    background-color: white;
    margin-top: 13px;
    border-radius: 20px;
}
.partner-sec-3-1{
    width: 30%;
    height: 100%;
}
.partner-sec-3-2{
    width: 70%;
    height: 100%;
}
.partner-sec-3-container-1{
    width: 100px;
    height: 20px;
    background-color: #C5D5E4;
    margin-left: 40px;
}
.partner-sec-3-container-2{
    width: 100px;
    height: 20px;
    background-color: #193855;
    margin-left: 40px;
}
.partner-overlay{
    position: absolute;
    right: 369px;
    top: 334px;
    height: 146px;
}
.partner-sec-4{
    height: 45vh;
    width: 18%;
    background-color: white;
    margin-top: 13px;
    border-radius: 20px;
}
.partner-sec-4 h5{
    background-color: #F1F5F8;
    width: 100px;
    border-radius: 10px;
    margin-left: 53px;
    margin-top: 10px;
}
.partner-sec-5{
    height: 19vh;
    width: 100%;
    background-color: white;
    margin-top: 13px;
    border-radius: 20px;
}
.report-sec-1{
    color: #193855;
}
.report-sec-2{
    height: 52vh;
    width: 100%;
    background-color: white;
    margin-top: 13px;
    border-radius: 20px;
}
.report-button-1{
    width: 70px;
    height: 30px;
    background-color: #1BCC18;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 3px;
    color: white;
}
.report-button-2{
    width: 70px;
    height: 30px;
    background-color: #C5D5E4;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 3px;
}
.report-button-3{
    width: 70px;
    height: 30px;
    background-color: #D60000;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 3px;
    color: white;
}
.companies-button{
    width: 150px;
    height: 40px;
    background-color: #193855;
    color: white;
    text-align: center;
    border-radius: 15px;
}
.Company-header{
    display: flex;
    background-color: #193855;
    height: 42px;
    width: 290px;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
}
.Company-header-1{
    background-color: #fff;
    width: 50%;
    color: #193855;
    border-radius: 12px;
    border: 1px solid #193855;
}
.Company-header-2{
    padding-left: 35px;
}
.Company-header-3{
    display: flex;
    background-color: #193855;
    height: 42px;
    width: 515px;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
}
.Company-header-4{
    background-color: #fff;
    width: 31%;
    color: #193855;
    border-radius: 12px;
    border: 1px solid #193855;
}
.companies-line-1{
    height: 2px;
    width: 45px;
    background-color: #FFE500;
}
.companies-line-2{
    height: 2px;
    width: 110px;
    background-color: #04D900;
}
.companies-line-3{
    height: 2px;
    width: 124px;
    background-color: #FF0000;
}
.my-companies-sec-1{
    height: 65vh;
    width: 100%;
    background-color: white;
    margin-top: 13px;
    border-radius: 20px;
}
.my-companies-sec-2{
    height: 79vh;
    width: 100%;
    background-color: white;
    margin-top: 13px;
    border-radius: 20px;
}
.employee-edit{
    height: 40px;
    width: 40px;
    background-color: #E6E6EA;
    padding-left: 9px;
    padding-top: 6px;
    border-radius: 7px;
    margin-right: 223px;
}
.employee-edit img{
    height: 20px;
    width: 20px;
}
.add-company{
    background-color: #fff;
    width: 100%;
    height: 83vh;
    border-radius: 28px;
}
.add-company-span{
    font-size: 12px;
    color: #ACACBB;
    padding-left: 7px;
}
.add-company-input{
    width: 500px;
}
.add-company-button-1{
    height: 50px;
    width: 70px;
    background-color: #193855;
    color: white;
    border-radius: 14px;
    border: none;
}
.add-company-button-2{
    height: 50px;
    width: 70px;
    background-color: #ffffff;
    color: black;
    border-radius: 14px;
    border: 1px solid #ACACB0;
    margin-left: 20px;
}
.my-info-1{
    height: 62vh;
    border: 1px solid #e5e5f5;
    border-radius: 14px;
}
.my-info-2{
    height: 47vh;
    border: 1px solid #e5e5f5;
    border-radius: 14px;
    margin-left: 20px;
}
.my-info-button{
    height: 50px;
    width: 70px;
    background-color: #ACACB0;
    color: black;
    border-radius: 14px;
    border: 1px solid #ACACB0;
    margin-left: 20px;
}
.fillings-opt{
    height: 45px;
    border: 1px solid #ACACB0;
    border-radius: 9px;
    padding-top: 10px;
    padding-left: 35px;
    font-weight: 500;
    color: #ACACBB;
}
.my-fillings{
    height: 75vh;
    border: 1px solid #e5e5f5;
    border-radius: 14px;
}
.dashboard-flex-1{
    width: 43%;
    padding: 50px 123px
}
.dashboard{
    background-color: #fff;
    width: 100%;
    height: 61vh;
    border-radius: 28px;
}



.triangle{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #f7f7f7;
    rotate: -90deg;
}
.box{
    background-color: #fff;
    width: 100px;
    height: 31px;
        font-size: 13px;
    padding-top: 5px;box-shadow: -2px -2px 8px -35px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -2px 8px -35px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -2px 8px -35px rgba(0,0,0,0.75);
}
.triangle1 {
    position: fixed;
    top: 91px;
    left: 64px;
}
.box1{
    position: fixed;
    top: 86px;
    left: 82px;
}
.triangle2 {
    position: fixed;
    top: 137px;
    left: 64px;
}
.box2{
    position: fixed;
    top: 132px;
    left: 82px;
}
.triangle3 {
    position: fixed;
    top: 188px;
    left: 64px;
}
.box3{
    position: fixed;
    top: 183px;
    left: 82px;
}
.triangle4 {
    position: fixed;
    top: 236px;
    left: 64px;
}
.box4{
    position: fixed;
    top: 231px;
    left: 82px;
}
.triangle5 {
    position: fixed;
    top: 286px;
    left: 64px;
}
.box5{
    position: fixed;
    top: 281px;
    left: 82px;
}
.triangle6 {
    position: fixed;
    top: 334px;
    left: 64px;
}
.box6{
    position: fixed;
    top: 329px;
    left: 82px;
}
.triangle7 {
    position: fixed;
    top: 383px;
    left: 64px;
}
.box7{
    position: fixed;
    top: 378px;
    left: 82px;
}
.triangle8 {
    position: fixed;
    top: 483px;
    left: 64px;
}
.box8{
    position: fixed;
    top: 478px;
    left: 82px;
}
.triangle9 {
    position: fixed;
    top: 533px;
    left: 64px;
}
.box9{
    position: fixed;
    top: 528px;
    left: 82px;
}
